/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background: url("http://desktopbackgroundshq.com/backgrounds/space-wallpaper-widescreen-space-backgrounds-29680.jpeg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}