/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.svgcontainer{
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top:-50px 
  margin-left: -150px;

}